@font-face {
font-family: 'Open24DisplaySt';
font-style: normal;
font-weight: normal;
src: local('Open24DisplaySt'), url('Open-24-Display-St.woff') format('woff');
}

#box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

#clockbox {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-size: xx-large;
  color: white;
  text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
  font-family:'Open24DisplaySt';
}